@use 'mixins' as *;

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100dvh - 8rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 6rem;
    left: 2rem;
    transition:
        transform var(--layout-section-transition-duration),
        left var(--layout-section-transition-duration);
    background-color: var(--app-sidebar-bg);
    border: 1px solid var(--surface-border);
    border-radius: var(--content-border-radius);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px -1px rgba(0, 0, 0, 0.04);
    padding: 0.5rem 1.5rem;
}
