:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --app-topbar-bg: var(--p-surface-900);
    --app-sidebar-bg: var(--p-surface-900);
    --app-content-bg: var(--p-surface-900);

    --login-bg-start: rgb(2 8 23 / 95%);
    --login-bg-end: rgb(16 185 129 / 10%);
    --login-overlay-start: rgba(2, 8, 23, 0.7);
    --login-overlay-end: rgba(16, 185, 129, 0.1);
}
