:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --app-topbar-bg: var(--p-surface-0);
    --app-sidebar-bg: var(--p-surface-0);
    --app-content-bg: var(--p-surface-0);

    --login-bg-start: rgb(15 23 42 / 85%);
    --login-bg-end: rgb(16 185 129 / 20%);
    --login-overlay-start: rgba(15, 23, 42, 0.6);
    --login-overlay-end: rgba(16, 185, 129, 0.15);
}
