:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --app-topbar-bg: var(--p-surface-0);
    --app-sidebar-bg: var(--p-surface-0);
    --app-content-bg: var(--p-surface-0);
}
