:root {
  --el-aside-width: 60px;
  --el-aside-item-height: 40px;
  --app-background-color: #f1f3f5;
  --app-layout-content-container-background-color: #f9fafb;
}
.app-layout {
  height: 100vh;
  width: 100vw;
  background-color: var(--app-background-color, #f1f3f5);
  .app-aside {
    padding: 0px;
    height: 100vh;
    .item {
      height: 40px;
      cursor: pointer;
      :hover {
        color: var(--brand-color-light);
        background-color: var(--el-border-color-extra-light);
      }
    }
    .menu-contaner {
      height: calc(100% - 80px - 40px - 2px);
      .card {
        margin: 0 auto;
        + .card {
          margin-top: 10px;
        }
        &:not(:first-child):not(:last-child) {
          margin-top: 10px;
        }
      }
    }
    .user-contaner {
      height: 80px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      .user {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .operate-container {
      display: flex;
      justify-content: center;
    }
    .el-icon {
      width: 100%;
      height: 100%;
    }
  }
  .content-container {
    overflow: hidden;
    width: calc(100vw - var(--el-aside-width));
    height: 100vh;
    border-radius: 10px 0 0 10px;
    box-shadow: var(--el-box-shadow-lighter);
    background-color: var(--el-fill-color-blank);
  }
}

.note-layout {
  width: 100%;
  height: 100vh;

  .note-aside {
    border-right: 1px solid var(--el-border-color);
    --el-aside-width: 100px;
    --el-aside-item-height: 40px;

    padding: 8px;
    .operate {
      display: flex;
      height: 14px;
      &:hover {
        background-color: var(--el-color-primary-light-9);
        cursor: pointer;
      }
    }
    .hander {
      display: flex;
      align-items: center;
      height: 20px;
      width: calc(var(--el-aside-width) - 1px);
      justify-content: flex-end;
      box-shadow: 0px 2px 2px 0px var(--el-border-color);
    }
  }

  .divider {
    height: 100%;
    width: 5px;
    z-index: 999;
    &:hover {
      cursor: e-resize;
    }
  }
}

.el-icon svg {
  width: 1.2em;
  height: 1.2em;
}
