.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  width: 100vw;
  height: 100dvh;
  overflow: auto;
}



.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 2rem 2rem 30vh;
}

@media screen and (max-width: 991px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}
